.titulo h1{
    font-size: 12px;
    text-align: center;
    padding: 5%;
}

p{
    padding: 5%;
    font-size: 10px;
    justify-content: center;
    text-align: center;
}
.cerditos{
    display: flex;
}

